html {
    font-size: 16px;
    background-color: #fff;
    font-family: 'PingFangTC', sans-serif;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0px;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: 0px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}