* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
}

.burger-menu-shadow {
  display: none;
  position: absolute;
  background-color: rgba(155, 155, 155, 0.9);
  width: 100%;
  height: 100%;
}

.burger-menu {
  display: none;
  position: absolute;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  bottom: 0;
  left: 0;
  width: 658px;
  height: 1000px;
  background-color: #f4f4f4;
}

.burger-menu .back {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(155, 155, 155, 0.9);
  font-size: 0;
  height: 37px;
}

.burger-menu .back img {
  margin-left: 25px;
  margin-top: 5px;
  cursor: pointer;
}

.burger-menu .catalogue {
  margin-top: 50px;
  height: 964px;
  overflow: scroll;
}

.burger-menu .catalogue ul {
  margin: 0;
  margin-left: 30px;
}

.burger-menu .catalogue li {
  margin-bottom: 26px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

.burger-menu .catalogue span {
  font-weight: 500;
  padding-left: 70px;
}

.burger-menu .catalogue a {
  text-decoration: none;
  color: #595959;
}

.burger-menu .chapter span {
  padding-left: 20px;
}
/*# sourceMappingURL=burger.css.map */