* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
}

.burger-menu-shadow {
    display: none;
    position: absolute;
    background-color: rgba(155, 155, 155, 0.9);
    width: 100%;
    height: 100%;
}

.burger-menu {
    display: none;
    position: absolute;
    transform: translate(0, 0);
    bottom: 0;
    left: 0;
    width: 658px;
    height: 1000px;
    background-color: #f4f4f4;
    .back {
        position: fixed;
        width: 100%;
        border-bottom: 1px solid rgba(155, 155, 155, 0.9);
        font-size: 0;
        height: 37px;
    }
    .back img {
        margin-left: 25px;
        margin-top: 5px;
        cursor: pointer;
    }
    .catalogue {
        margin-top: 50px;
        height: 964px;
        overflow: scroll;
    }
    .catalogue ul {
        margin: 0;
        margin-left: 30px;
    }
    .catalogue li {
        margin-bottom: 26px;
        list-style: none;
        font-size: 16px;
        font-weight: 500;
    }
    .catalogue span {
        font-weight: 500;
        padding-left: 70px;
    }
    .catalogue a {
        text-decoration: none;
        color: #595959;
    }
    .chapter span {
        padding-left: 20px;
    }
}