.page-container {
  margin: 0;
}

#text-container {
  padding: 89px 72px;
  font-family: cwTeXMing, serif;
  width: 768px;
  height: 1024px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: auto;
}

#text-container .transform {
  height: 846px;
  -webkit-column-width: 768px;
          column-width: 768px;
  -webkit-column-gap: 72px;
          column-gap: 72px;
}

#text-container #content {
  outline: 1px dotted;
}

#text-container .text {
  word-break: break-all;
}

#text-container #vertical {
  background-color: red;
}

#text-container p {
  font-size: 20px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: normal;
  text-align: justify;
  color: #595959;
}

#text-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #595959;
  margin-bottom: 23px;
  margin-bottom: 31px;
}

.button-test {
  position: absolute;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=chapter_content.css.map */