.name-form {
  width: 100%;
  height: 100%;
}

.name-form > div:first-of-type {
  margin-top: 40px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 720px;
  font-size: 2rem;
  background-color: #807f7f;
  margin-top: 12px;
  border-radius: 0 30px 30px 0;
}

.container img {
  width: 18px;
  margin-left: 15px;
  margin-right: 10px;
}

.container ul {
  width: 320px;
  padding: 0;
  margin: 18px 0;
  font-size: 0;
}

.container ul li {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  list-style: none;
  font-size: 1.1rem;
  color: white;
  background-color: #A2CEFF;
  text-align: center;
  line-height: 55px;
  margin: 4.5px;
  cursor: pointer;
}

.container li:nth-of-type(even) {
  text-decoration: underline;
}

.container > ul:nth-of-type(2) li {
  background-color: #ff9292;
}

#back-to-numbers {
  display: block;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 30px;
  margin: 30px auto 0;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=name_form.css.map */