* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.note-window-shadow {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(155, 155, 155, 0.9);
  position: absolute;
}

.note-window {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 627px;
  height: 1002px;
  background-color: #f4f4f4;
}

.note-window .bar {
  height: 70px;
  background-color: #4A4A4A;
  color: #fff;
  font-size: 0;
}

.note-window .bar img {
  vertical-align: middle;
  margin-left: 15px;
  margin-right: 260px;
  cursor: pointer;
}

.note-window .bar span {
  font-size: 16px;
  font-weight: 500;
  line-height: 70px;
  vertical-align: middle;
}

.text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

.text-area .color {
  display: inline-block;
  width: 15px;
  height: 119px;
  margin-right: 10px;
  background-color: #8ec0e4;
}

.text-area .selected {
  width: 500px;
}

.selected-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
/*# sourceMappingURL=note.css.map */