* {
    box-sizing: border-box;
    // outline: 1px solid;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-window-shadow {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.69);
}

.share-window {
    display: none;
    position: absolute;
    width: 402px;
    height: 445px;
    background-color: #f2f2f2;
    text-align: center;
    color: #4a4a4a;
    border-radius: 14px;
    font-size: 12px;
    p {
        margin-bottom: 0;
    }
    .circle {
        width: 76px;
        height: 76px;
        border-radius: 100%;
        background-color: #9b9b9b;
        margin-bottom: 10px;
    }
    .wrapper {
        width: 78px;
        margin: 0 20px 15px 0;
    }
}

.kinds {
    display: flex;
    margin: 10px 0;
    padding: 0 15px;
    border-bottom: 1px solid #9B9B9B;
    img {
        width: 78px;
        margin-bottom: 10px;
    }
}

.share-window>div:nth-of-type(3) {
    border-bottom: none;
}