// ----- 三個任務 -------
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

//----------- 上方功能列-----------
nav#back {
    //--- toggle 用 ---
    // display: none;
    position: absolute;
    font-size: 0;
    top: 0;
    margin: 30px auto 0;
    z-index: 5;
    img,
    span {
        vertical-align: middle;
        margin-left: 24px;
    }
    span {
        font-size: 1rem;
        color: #4a4a4a;
    }
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    a {
        text-align: center;
        width: 305px;
        font-size: 1.5rem;
        line-height: 68px;
        border-radius: 8px;
        background-color: #A2CEFF;
        color: #ffffff;
        text-decoration: none;
    }
    a:first-of-type {
        background-color: #8f8f8f;
    }
    a+a {
        margin-top: 52px;
    }
}