html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.sing-in {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #A2CEFF;
}

.sing-in .clear {
  width: 100px;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  background-color: #ff9292;
  border-radius: 8px;
  font-weight: 300;
  position: absolute;
  top: 38px;
  right: 38px;
  cursor: pointer;
}

.sing-in .number {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 19px;
}

.sing-in input {
  width: 300px;
  padding: 14px 0;
  border-radius: 8px;
  margin-bottom: 76px;
  border: none;
  text-align: center;
}

.sing-in input::-webkit-input-placeholder {
  color: #4a4a4a;
  font-size: 1.1rem;
  font-weight: 300;
}

.sing-in input:-ms-input-placeholder {
  color: #4a4a4a;
  font-size: 1.1rem;
  font-weight: 300;
}

.sing-in input::-ms-input-placeholder {
  color: #4a4a4a;
  font-size: 1.1rem;
  font-weight: 300;
}

.sing-in input::placeholder {
  color: #4a4a4a;
  font-size: 1.1rem;
  font-weight: 300;
}

.sing-in input:focus {
  outline: none;
}

.sing-in a {
  display: inline-block;
  width: 100px;
  padding: 10px 0;
  font-weight: 300;
  color: #9b9b9b;
  border-radius: 8px;
  text-decoration: none;
  background-color: #fff;
}

.sing-in a:first-of-type {
  margin-right: 35px;
}
/*# sourceMappingURL=test_over.css.map */