//----------- 受測者姓名1 &2------------
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.sing-in {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #A2CEFF;
    .clear {
        width: 100px;
        padding: 10px 0;
        font-size: 18px;
        color: #fff;
        background-color: #ff9292;
        border-radius: 8px;
        font-weight: 300;
        position: absolute;
        top: 38px;
        right: 38px;
        cursor: pointer;
    }
    .number {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 19px;
    }
    input {
        width: 300px;
        padding: 14px 0;
        border-radius: 8px;
        margin-bottom: 76px;
        border: none;
        text-align: center;
    }
    input::placeholder {
        color: #4a4a4a;
        font-size: 1.1rem;
        font-weight: 300;
    }
    input:focus {
        outline: none;
    }
    a {
        display: inline-block;
        width: 100px;
        padding: 10px 0;
        font-weight: 300;
        color: #9b9b9b;
        border-radius: 8px;
        text-decoration: none;
        background-color: #fff;
    }
    a:first-of-type {
        margin-right: 35px;
    }
}