html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

nav#back {
  position: absolute;
  font-size: 0;
  top: 0;
  margin: 30px auto 0;
  z-index: 5;
}

nav#back img,
nav#back span {
  vertical-align: middle;
  margin-left: 24px;
}

nav#back span {
  font-size: 1rem;
  color: #4a4a4a;
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.tasks a {
  text-align: center;
  width: 305px;
  font-size: 1.5rem;
  line-height: 68px;
  border-radius: 8px;
  background-color: #A2CEFF;
  color: #ffffff;
  text-decoration: none;
}

.tasks a + a {
  margin-top: 52px;
}
/*# sourceMappingURL=three_tasks.css.map */