* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 393px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-filter: drop-shadow(0 2px 8px #555);
          filter: drop-shadow(0 2px 8px #555);
  padding: 10px 30px 10px 10px;
  background-color: #fff;
  border-radius: 10px;
}

.tooltip div,
.tooltip img {
  cursor: pointer;
}

.tooltip .circle {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  text-align: center;
}

.tooltip .circle img {
  display: none;
  width: 50%;
  position: relative;
  top: 3px;
}

.tooltip .yellow {
  background-color: #faf096;
}

.tooltip .red {
  background-color: #f9989f;
}

.tooltip .purple {
  background-color: #c4beff;
}

.tooltip .green {
  background-color: #c5f8c8;
}

.tooltip::after {
  content: " ";
  position: absolute;
  left: 185px;
  bottom: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=tooltip_ pull-up.css.map */