//------------任務已完成-----------
$white: #fff;
$white-70: rgba(216, 216, 216, 0.69);
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    outline: none;
    cursor: pointer;
}

.lightbox-shadow {
    // display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white-70;
}

div.lightbox-container {
    // display: none;
    position: absolute;
    padding: 56px 11px 52px;
    width: 320px;
    height: 376px;
    text-align: center;
    border-radius: 14px;
    background-color: $white;
    font-size: 0;
    box-sizing: border-box;
}

button.lighting {
    background-color: transparent;
    background-image: url(../images/invalid-name5.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 252px;
    height: 35px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 23px;
    padding: 0;
}

button.fz {
    width: 140px;
    height: 41px;
    margin-bottom: 28px;
    border-radius: 6px;
    border: solid 1px #d0d0d0;
    background-color: #efefef;
    font-size: 18px;
    line-height: 41px;
    font-weight: 300;
    font-family: PingFangTC;
}

.plus,
.minus {
    display: inline-block;
    margin-left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
}

.plus {
    border-width: 10px 5px 0 5px;
    border-color: #007bff transparent transparent transparent;
}

.minus {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #007bff transparent;
}

button.fz-small {
    margin-right: 7px;
}

button.bgcolors {
    width: 63px;
    height: 34px;
    margin-right: 12px;
    margin-bottom: 24px;
    border-radius: 6px;
    border: solid 1px #d0d0d0;
}

.lightbox-font span {
    width: 63px;
    height: 21px;
    margin-right: 7px;
    font-family: PingFangTC;
    font-size: 15px;
    font-weight: 300;
}

.btn-groups {
    display: inline-block;
    border-radius: 6px;
    border: solid 1px #d0d0d0;
    button {
        width: 70px;
        height: 25px;
        padding: 0;
        border: solid 1px #d0d0d0;
        background-color: #ffffff;
        font-family: PingFangTC;
        font-size: 13px;
        font-weight: 300;
    }
    button:nth-of-type(2) {
        color: #fff;
        background-color: #d0d0d0;
    }
}