.page-container {
    margin: 0;
}

#text-container {
    padding: 89px 72px;
    font-family: cwTeXMing, serif;
    // outline: 1px solid;
    width: 768px;
    height: 1024px;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    .transform {
        height: 846px;
        column-width: 768px;
        column-gap: 72px;
    }
    #content {
        outline: 1px dotted;
    }
    .text {
        word-break: break-all;
    }
    #vertical {
        background-color: red;
    }
    p {
        font-size: 20px;
        line-height: 1.7;
        font-weight: 500;
        letter-spacing: normal;
        text-align: justify;
        color: #595959;
    }
    h2 {
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        color: #595959;
        margin-bottom: 23px;
        margin-bottom: 31px;
    }
    // h3{
    //     display: none;
    // }
    // p~h2 {
    // -webkit-break-before: left;
    // break-before: left;
    // }
}

.button-test {
    position: absolute;
    top: 0;
    left: 0;
}