@import "_reset.scss";
$color: (baby-blue: #a3ceff, white: #fff, pink: #ff9292, white-70: rgba(234, 234, 234, 0.7));
$font-color: (primary: #4e4e4e, disable: #9b9b9b, able: #fff);
.background_color-pink {
    background-color: map-get($color, pink);
    height: 100vh;
}

// 統整之後要拉掉，不然會影響其他頁面，純做為目前切版需要
body {
    height: 100vh;
}

.lightbox {
    &-shadow {
        display: none;
        position: fixed;
        background-color: rgba(155, 155, 155, 0.9);
        width: 100%;
        height: 100%;
    }
    &-container {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 46px;
        width: 496px;
        height: 563px;
        text-align: center;
        border-radius: 18px;
        background-color: map-get($color, white);
        .lightbox-title_position_adjustment {
            margin: 4px auto 55px auto;
        }
        span {
            font-size: 19px;
            font-weight: 300;
            color: map-get($font-color, primary);
        }
        h2 {
            font-weight: 600;
            text-align: center;
            color: map-get($font-color, primary);
        }
        h3 {
            margin-bottom: 15px;
            font-size: 19px;
            font-weight: 300;
            color: map-get($font-color, primary);
            span:not(first-of-type) {
                margin-left: 8px;
            }
        }
        ul {
            margin: 0 auto;
            font-size: 19px;
            font-weight: 300;
            color: map-get($font-color, primary);
            text-align: left;
            counter-reset: num 0;
        }
        li {
            .list-first_s {
                display: inline-block;
                width: 100%;
            }
            .list-first_w {
                display: inline-block;
                width: 80%;
            }

        }
        .list-first::before {
            content: '(1-'counter(num)')';
            counter-increment: num 1;
            float: left;
            width: 15%;
        }
        .list-first_s::before {
            content: '(1-'counter(num)')';
            counter-increment: num 1;
            float: left;
            width: 30%;
        }
        .list-first_w::before {
            content: '(1-'counter(num)')';
            counter-increment: num 1;
            float: left;
            width: 30%;
        }
        .list-third::before {
            content: '(3-'counter(num)')';
            counter-increment: num 1;
            float: left;
            width: 20%;
        }
        .lightbox-title_primary {
            margin: 115px auto 19px auto;
            font-size: 48px;
            width: 256px;
        }
        .lightbox-title_secondary {
            margin-top: 9px;
            margin-bottom: 62px;
            font-size: 24px;
        }
        .lightbox-title_third {
            text-align-last: left;
        }
        .lightbox-title_fourth {
            margin: 10px auto 50px auto;
            font-size: 48px;
        }
    }
    &-text_vertical_spacing {
        margin-bottom: 25px;
    }
    &-text_vertical_spacing-s {
        margin-bottom: 15px;
    }
    &-text_vertical_spacing-m {
        margin-bottom: 30px;
    }
    &-btn_position_adjustment {
        width: calc(100% - 92px);
        position: absolute;
        bottom: 46px;
        button {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }
    &-list_m {
        width: 400px;
    }
    &-list_s {
        width: 248px;
    }
    &-list_l {
        width: 204px;
    }
}

.btn {
    &-primary {
        margin-bottom: 15px;
        padding: 17.5px 0px;
        width: 305px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 8px;
        color: map-get($font-color, able);
        background-color: map-get($color, baby-blue);
    }
    &-primary_s {
        margin-bottom: 15px;
        padding: 17.5px 0px;
        width: 160px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 8px;
        color: map-get($font-color, able);
        background-color: map-get($color, baby-blue);
    }
    &-secondary {
        padding: 10px 0px;
        width: 122px;
        font-size: 24px;
        font-weight: 600;
        background-color: transparent;
        color: map-get($font-color, disable);
    }
    &-white {
        color: #fff;
    }
}

a {
    display: block;
}

a {
    text-decoration: none;
    color: map-get($font-color, disable);
    &:active {
        text-decoration: none;
        color: map-get($font-color, disable);
    }
}