html {
  font-size: 16px;
  background-color: #fff;
  font-family: 'PingFangTC', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0px;
  cursor: pointer;
}

button:hover {
  text-decoration: none;
}

button:focus {
  outline: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background_color-pink {
  background-color: #ff9292;
  height: 100vh;
}

body {
  height: 100vh;
}

.lightbox-shadow {
  display: none;
  position: fixed;
  background-color: rgba(155, 155, 155, 0.9);
  width: 100%;
  height: 100%;
}

.lightbox-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 46px;
  width: 496px;
  height: 563px;
  text-align: center;
  border-radius: 18px;
  background-color: #fff;
}

.lightbox-container .lightbox-title_position_adjustment {
  margin: 4px auto 55px auto;
}

.lightbox-container span {
  font-size: 19px;
  font-weight: 300;
  color: #4e4e4e;
}

.lightbox-container h2 {
  font-weight: 600;
  text-align: center;
  color: #4e4e4e;
}

.lightbox-container h3 {
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: 300;
  color: #4e4e4e;
}

.lightbox-container h3 span:not(first-of-type) {
  margin-left: 8px;
}

.lightbox-container ul {
  margin: 0 auto;
  font-size: 19px;
  font-weight: 300;
  color: #4e4e4e;
  text-align: left;
  counter-reset: num 0;
}

.lightbox-container li .list-first_s {
  display: inline-block;
  width: 100%;
}

.lightbox-container li .list-first_w {
  display: inline-block;
  width: 80%;
}

.lightbox-container .list-first::before {
  content: "(1-" counter(num) ")";
  counter-increment: num 1;
  float: left;
  width: 15%;
}

.lightbox-container .list-first_s::before {
  content: "(1-" counter(num) ")";
  counter-increment: num 1;
  float: left;
  width: 30%;
}

.lightbox-container .list-first_w::before {
  content: "(1-" counter(num) ")";
  counter-increment: num 1;
  float: left;
  width: 30%;
}

.lightbox-container .list-third::before {
  content: "(3-" counter(num) ")";
  counter-increment: num 1;
  float: left;
  width: 20%;
}

.lightbox-container .lightbox-title_primary {
  margin: 115px auto 19px auto;
  font-size: 48px;
  width: 256px;
}

.lightbox-container .lightbox-title_secondary {
  margin-top: 9px;
  margin-bottom: 62px;
  font-size: 24px;
}

.lightbox-container .lightbox-title_third {
  text-align-last: left;
}

.lightbox-container .lightbox-title_fourth {
  margin: 10px auto 50px auto;
  font-size: 48px;
}

.lightbox-text_vertical_spacing {
  margin-bottom: 25px;
}

.lightbox-text_vertical_spacing-s {
  margin-bottom: 15px;
}

.lightbox-text_vertical_spacing-m {
  margin-bottom: 30px;
}

.lightbox-btn_position_adjustment {
  width: calc(100% - 92px);
  position: absolute;
  bottom: 46px;
}

.lightbox-btn_position_adjustment button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.lightbox-list_m {
  width: 400px;
}

.lightbox-list_s {
  width: 248px;
}

.lightbox-list_l {
  width: 204px;
}

.btn-primary {
  margin-bottom: 15px;
  padding: 17.5px 0px;
  width: 305px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background-color: #a3ceff;
}

.btn-primary_s {
  margin-bottom: 15px;
  padding: 17.5px 0px;
  width: 160px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  background-color: #a3ceff;
}

.btn-secondary {
  padding: 10px 0px;
  width: 122px;
  font-size: 24px;
  font-weight: 600;
  background-color: transparent;
  color: #9b9b9b;
}

.btn-white {
  color: #fff;
}

a {
  display: block;
}

a {
  text-decoration: none;
  color: #9b9b9b;
}

a:active {
  text-decoration: none;
  color: #9b9b9b;
}
/*# sourceMappingURL=lightbox.css.map */