@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-container {
  width: 100%;
  font-size: 20px;
  line-height: 1.75;
  color: #595959;
}

a#back {
  display: none;
  position: absolute;
  font-size: 0;
  top: 0;
  left: 10px;
  margin: 30px auto 0;
  text-decoration: none;
}

a#back img,
a#back span {
  vertical-align: middle;
  margin-left: 24px;
}

a#back span {
  font-size: 1rem;
  color: #4a4a4a;
}

nav#toolbar {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav#toolbar .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 0;
  background-color: #fff;
  border-top: 1px solid #ECEFF1;
}

nav#toolbar .nav-wrapper img {
  cursor: pointer;
}
/*# sourceMappingURL=navbars.css.map */