@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/cwtexming.css);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

//--------內容---------
.page-container {
    width: 100%;
    // height: 100%;
    font-size: 20px;
    line-height: 1.75;
    color: #595959;
}

//----------- 上方功能列-----------
a#back {
    //--- toggle 用 ---
    display: none;
    position: absolute;
    font-size: 0;
    top: 0;
    left: 10px;
    margin: 30px auto 0;
    text-decoration: none;
    img,
    span {
        vertical-align: middle;
        margin-left: 24px;
    }
    span {
        font-size: 1rem;
        color: #4a4a4a;
    }
}

//----------下方功能列--------------
nav#toolbar {
    //--- toggle 用 ---
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    .nav-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        background-color: #fff;
        border-top: 1px solid #ECEFF1;
        img {
            cursor: pointer;
        }
    }
}