//----------- 受測者姓名1 &2------------
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.sign-in-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #A2CEFF;
    .number {
        color: #ffffff;
        font-size: 1.5rem;
        margin-bottom: 19px;
    }
    input {
        width: 300px;
        padding: 14px 0;
        border-radius: 8px;
        margin-bottom: 76px;
        border: none;
        text-align: center;
    }
    input::placeholder {
        color: #cdcbcb;
        font-size: 1.1rem;
        font-weight: 300;
    }
    input:focus {
        outline: none;
    }
    input:focus::placeholder {
        opacity: 0;
    }
    a {
        display: inline-block;
        width: 100px;
        padding: 10px 0;
        font-weight: 300;
        color: #cdcbcb;
        border-radius: 8px;
        text-decoration: none;
    }
    a:first-of-type {
        background-color: #fff;
        margin-right: 35px;
    }
    a:nth-of-type(2) {
        background-color: #9efda3;
    }
}