html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.sign-in-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #A2CEFF;
}

.sign-in .number {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 19px;
}

.sign-in input {
  width: 300px;
  padding: 14px 0;
  border-radius: 8px;
  margin-bottom: 76px;
  border: none;
  text-align: center;
}

.sign-in input::-webkit-input-placeholder {
  color: #cdcbcb;
  font-size: 1.1rem;
  font-weight: 300;
}

.sign-in input:-ms-input-placeholder {
  color: #cdcbcb;
  font-size: 1.1rem;
  font-weight: 300;
}

.sign-in input::-ms-input-placeholder {
  color: #cdcbcb;
  font-size: 1.1rem;
  font-weight: 300;
}

.sign-in input::placeholder {
  color: #cdcbcb;
  font-size: 1.1rem;
  font-weight: 300;
}

.sign-in input:focus {
  outline: none;
}

.sign-in input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.sign-in input:focus:-ms-input-placeholder {
  opacity: 0;
}

.sign-in input:focus::-ms-input-placeholder {
  opacity: 0;
}

.sign-in input:focus::placeholder {
  opacity: 0;
}

.sign-in a {
  display: inline-block;
  width: 100px;
  padding: 10px 0;
  font-weight: 300;
  color: #cdcbcb;
  border-radius: 8px;
  text-decoration: none;
}

.sign-in a:first-of-type {
  background-color: #fff;
  margin-right: 35px;
}

.sign-in a:nth-of-type(2) {
  background-color: #9efda3;
}
/*# sourceMappingURL=player_name.css.map */