* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.row-comment-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(234, 234, 234, 0.95);
}

section#row-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

section#row-comment .card {
  width: 567px;
  background-color: #fff;
  border-radius: 18px;
  overflow: hidden;
}

section#row-comment .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 12px 27px;
  margin-bottom: 32px;
  font-weight: 300;
  background-color: #4a4a4a;
}

section#row-comment .bar span {
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

section#row-comment button {
  color: #fff;
  background-color: #4a4a4a;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

section#row-comment .contnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#row-comment #paragraph {
  width: 501px;
  height: 112px;
  margin-bottom: 14px;
  font-size: 1rem;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  color: #4a4a4a;
}

section#row-comment textarea {
  width: 531px;
  height: 173px;
  border-radius: 18px;
  border: solid 1px #979797;
  margin-bottom: 47px;
  padding: 14px;
  outline: none;
  font-size: 14px;
  color: #4a4a4a;
}

.selected {
  margin-bottom: 15px;
}

.comment {
  width: 100%;
  height: 50px;
  color: #8c8b8c;
}

.rect-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rect {
  display: none;
  background-color: #8c8b8c;
  width: 2px;
  height: 30px;
  margin: 0 5px;
}
/*# sourceMappingURL=row_comment.css.map */