* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-window-shadow {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 216, 216, 0.69);
}

.share-window {
  display: none;
  position: absolute;
  width: 402px;
  height: 445px;
  background-color: #f2f2f2;
  text-align: center;
  color: #4a4a4a;
  border-radius: 14px;
  font-size: 12px;
}

.share-window p {
  margin-bottom: 0;
}

.share-window .circle {
  width: 76px;
  height: 76px;
  border-radius: 100%;
  background-color: #9b9b9b;
  margin-bottom: 10px;
}

.share-window .wrapper {
  width: 78px;
  margin: 0 20px 15px 0;
}

.kinds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  padding: 0 15px;
  border-bottom: 1px solid #9B9B9B;
}

.kinds img {
  width: 78px;
  margin-bottom: 10px;
}

.share-window > div:nth-of-type(3) {
  border-bottom: none;
}
/*# sourceMappingURL=share.css.map */