$yellow: #faf096;
$red:#f9989f;
$purple: #c4beff;
$green: #c5f8c8;
//----------------------------------
* {
    box-sizing: border-box;
}

.dropdown-wrapper {
    position: relative;
    left: -20px;
    cursor: pointer;
    height: 25px;
}

.tooltip-pulldown-wrapper {
    display: none;
    position: absolute;
    top: 40px;
    right: -20px;
}

.tooltip-pulldown {
    display: flex;
    width: 326px;
    justify-content: space-between;
    filter: drop-shadow(0 2px 9px #222);
    padding: 10px 15px 10px 10px;
    background-color: #fff;
    border-radius: 10px;
    div,
    img {
        cursor: pointer;
        z-index: 5;
    }
    .circle {
        width: 27px;
        height: 27px;
        border-radius: 100%;
        text-align: center;
        img {
            //----------------選取顏色的時候才顯示Ｘ--------
            display: none;
            width: 50%;
            position: relative;
            top: 3px;
        }
    }
    .yellow {
        background-color: $yellow;
    }
    .red {
        background-color: $red;
    }
    .purple {
        background-color: $purple;
    }
    .green {
        background-color: $green;
    }
    &::after {
        content: " ";
        position: absolute;
        left: 290px;
        top: -10px;
        width: 20px;
        height: 20px;
        background-color: #fff;
        transform: rotate(45deg);
    }
}

// .show {
//     opacity: 1;
// }