* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown-wrapper {
  position: relative;
  left: -20px;
  cursor: pointer;
  height: 25px;
}

.tooltip-pulldown-wrapper {
  display: none;
  position: absolute;
  top: 40px;
  right: -20px;
}

.tooltip-pulldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 326px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-filter: drop-shadow(0 2px 9px #222);
          filter: drop-shadow(0 2px 9px #222);
  padding: 10px 15px 10px 10px;
  background-color: #fff;
  border-radius: 10px;
}

.tooltip-pulldown div,
.tooltip-pulldown img {
  cursor: pointer;
  z-index: 5;
}

.tooltip-pulldown .circle {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  text-align: center;
}

.tooltip-pulldown .circle img {
  display: none;
  width: 50%;
  position: relative;
  top: 3px;
}

.tooltip-pulldown .yellow {
  background-color: #faf096;
}

.tooltip-pulldown .red {
  background-color: #f9989f;
}

.tooltip-pulldown .purple {
  background-color: #c4beff;
}

.tooltip-pulldown .green {
  background-color: #c5f8c8;
}

.tooltip-pulldown::after {
  content: " ";
  position: absolute;
  left: 290px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=tooltip_ pull-down.css.map */